# Project 3 - Datawarehouses
## Testing Star Schema

In [1]:
import pandas as pd
import boto3
import json
import configparser

## Load DWH Params from a file

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DWH_DB                 = config.get("CLUSTER","DWH_DB").replace("'", "")
DWH_DB_USER            = config.get("CLUSTER","DWH_DB_USER").replace("'", "")
DWH_DB_PASSWORD        = config.get("CLUSTER","DWH_DB_PASSWORD").replace("'", "")
DWH_PORT               = config.get("CLUSTER","DWH_PORT").replace("'", "")
DWH_ENDPOINT           = config.get("CLUSTER","DWH_ENDPOINT").replace("'", "")
DWH_ROLE_ARN           = config.get("IAM_ROLE","ARN").replace("'", "")

pd.DataFrame({"Param":
                  ["DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_ENDPOINT","DWH_ROLE_ARN"],
              "Value":
                  [DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_ENDPOINT, DWH_ROLE_ARN]
             })

             Param                                              Value
0           DWH_DB                                                dwh
1      DWH_DB_USER                                            dwhuser
2  DWH_DB_PASSWORD                                           Passw0rd
3         DWH_PORT                                               5439
4     DWH_ENDPOINT  dwhcluster.ccvrxzlyzuam.us-west-2.redshift.ama...
5     DWH_ROLE_ARN             arn:aws:iam::597326953803:role/dwhRole

## Connect to the dwh cluster

In [3]:
%load_ext sql

In [4]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT, DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.ccvrxzlyzuam.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

## Querying data from cluster

In [5]:
%sql SELECT * FROM staging_events LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.ccvrxzlyzuam.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(7, None, 'Logged In', 'Adler', 'M', 0, 'Barrera', None, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'GET', 'Home', 1540835983796.0, 248, None, 200, 1541470364796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', '100'),
 (15, 'Gustavo Cerati', 'Logged In', 'Adler', 'M', 1, 'Barrera', Decimal('249.44'), 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', 1540835983796.0, 248, 'Uno Entre 1000', 200, 1541470383796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', '100'),
 (23, 'Limp Bizkit', 'Logged In', 'Adler', 'M', 2, 'Barrera', Decimal('270.49'), 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', 1540835983796.0, 248, 'Behind Blue Eyes', 200, 1541470632796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', '100'),
 (31, None, 'Logged In', 'Samuel', 'M', 0, 'Gonzalez', None, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'GET', 'Home', 1540492941796.0, 252, None, 200, 1541473967796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"', '61'),
 (39, 'Mikel Erentxun', 'Logged In', 'Samuel', 'M', 1, 'Gonzalez', Decimal('178.83'), 'free', 'Houston-The Woodlands-Sugar Land, TX', 'PUT', 'NextSong', 1540492941796.0, 252, 'Frases Mudas', 200, 1541474048796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"', '61'),
 (47, 'The Gerbils', 'Logged In', 'Martin', 'M', 0, 'Johnson', Decimal('27.01'), 'free', 'Minneapolis-St. Paul-Bloomington, MN-WI', 'PUT', 'NextSong', 1541081807796.0, 250, '(iii)', 200, 1541480171796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', '55'),
 (55, 'AFI', 'Logged In', 'Martin', 'M', 1, 'Johnson', Decimal('190.45'), 'free', 'Minneapolis-St. Paul-Bloomington, MN-WI', 'PUT', 'NextSong', 1541081807796.0, 250, "Girl's Not Grey", 200, 1541480198796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', '55'),
 (63, None, 'Logged In', 'Jordan', 'F', 0, 'Hicks', None, 'free', 'Salinas, CA', 'GET', 'Home', 1540008898796.0, 240, None, 200, 1541480984796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', '37'),
 (71, 'Lhasa De Sela', 'Logged In', 'Jordan', 'F', 1, 'Hicks', Decimal('256.10'), 'free', 'Salinas, CA', 'PUT', 'NextSong', 1540008898796.0, 240, 'De cara a la pared', 200, 1541481077796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', '37'),
 (79, 'J.J. Cale', 'Logged In', 'Jordan', 'F', 2, 'Hicks', Decimal('150.80'), 'free', 'Salinas, CA', 'PUT', 'NextSong', 1540008898796.0, 240, 'Crazy Mama', 200, 1541481333796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', '37')]

In [17]:
%sql SELECT COUNT(*) FROM staging_events;

 * postgresql://dwhuser:***@dwhcluster.ccvrxzlyzuam.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]

In [18]:
%sql SELECT * FROM staging_songs LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.ccvrxzlyzuam.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(35, 'SOSRVUJ12AB018731E', 1, 'Walk the Walk', 'Poe', 40.71455, 2000, 290.16771, 'ARD8E0V1187FB5C3DB', -74.00712, 'New York, NY'),
 (99, 'SOXEEXB12A6D4F9B23', 1, 'Trashcan tomcat', 'Jim Lauderdale', 35.78577, 2004, 205.63546, 'AR7X9TB1187FB4DAD4', -80.88892, 'North Carolina'),
 (163, 'SODGQFY12A8C140A0B', 1, 'Icebox', 'Waltari', None, 1993, 290.37669, 'AR720WN1187B99712F', None, ''),
 (227, 'SODHXFY12A8C13418A', 1, 'The Contortionist', 'Orson', 51.50632, 2007, 244.34893, 'AR5WJXR1187B9A0917', -0.12714, 'London, England'),
 (291, 'SOCMHNO12A6D4F76B1', 1, 'Vanish or Vanquish', 'Detachment Kit', None, 0, 197.17179, 'ARUTMSS11F4C84382E', None, ''),
 (355, 'SOCKKOT12AB017F5B1', 1, 'Washington Bullets', 'The (International) Noise Conspiracy', None, 2007, 146.83383, 'AR0MWD61187B9B2B12', None, ''),
 (419, 'SOZGONS12A6D4FDA96', 1, 'Messiah (Heretical Rmx)', 'Nurzery [Rhymes]', None, 2006, 251.74159, 'ARNAPR61187FB5BA84', None, ''),
 (483, 'SONIRGR12A8AE47289', 1, 'E Palumme', 'Roberto Murolo', None, 0, 159.73832, 'ARTPEZS1187B9A6105', None, ''),
 (547, 'SOWMBSW12A8C13609B', 1, "Acceptable In The 80's", 'Calvin Harris', None, 2006, 214.96118, 'ARJRB241187FB556A3', None, 'Dumfries, Scotland, United Kingdom'),
 (611, 'SOXMHES12A6D4F9F19', 1, "Rev. Jack & His Roamin' Cadillac Church", 'Timbuk 3', 30.2676, 0, 253.1522, 'ARBTQ6W1187FB38032', -97.74298, 'Austin, TX')]

In [19]:
%sql SELECT COUNT(*) FROM staging_songs;

 * postgresql://dwhuser:***@dwhcluster.ccvrxzlyzuam.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(385252,)]

In [6]:
%sql SELECT * FROM songplay LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.ccvrxzlyzuam.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(7, datetime.datetime(2018, 11, 13, 9, 58, 17), 44, 'paid', 'SOJBWKA12A58A7AFBD', 'ARYO9BU1187B9ADA88', 474, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (71, datetime.datetime(2018, 11, 28, 9, 14, 45), 58, 'paid', 'SOMIOCH12AB018A8EE', 'ARRKCMU1269FB34D23', 887, 'Augusta-Richmond County, GA-SC', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (135, datetime.datetime(2018, 11, 28, 14, 28, 57), 97, 'paid', 'SOWEJXA12A6701C574', 'ARJ7KF01187B98D717', 944, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (199, datetime.datetime(2018, 11, 30, 15, 54, 23), 49, 'paid', 'SOPXKYD12A6D4FA876', 'ARJ7KF01187B98D717', 1096, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (263, datetime.datetime(2018, 11, 5, 16, 28, 22), 97, 'paid', 'SOKLRPJ12A8C13C3FE', 'ARJ7KF01187B98D717', 147, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (327, datetime.datetime(2018, 11, 19, 5, 26, 5), 24, 'paid', 'SOPXKYD12A6D4FA876', 'ARJ7KF01187B98D717', 672, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (391, datetime.datetime(2018, 11, 30, 2, 5, 24), 73, 'paid', 'SOFBOXR12A6310F0FC', 'ARJ7KF01187B98D717', 1049, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (455, datetime.datetime(2018, 11, 13, 8, 46, 32), 25, 'paid', 'SOVRTPN12AB0184F9E', 'ARS8GNX1187B9B5141', 442, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (519, datetime.datetime(2018, 11, 10, 20, 10, 16), 36, 'paid', 'SOMQTAK12AB0183C3E', 'ARS8GNX1187B9B5141', 439, 'Janesville-Beloit, WI', '"Mozilla/5.0 (Windows NT 5.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (583, datetime.datetime(2018, 11, 5, 2, 59, 18), 52, 'free', 'SORVYXQ12AB018C994', 'ARS8GNX1187B9B5141', 226, 'Houston-The Woodlands-Sugar Land, TX', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0')]

In [21]:
%sql SELECT COUNT(*) FROM songplay;

 * postgresql://dwhuser:***@dwhcluster.ccvrxzlyzuam.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(127705,)]

In [7]:
%sql SELECT * FROM songs LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.ccvrxzlyzuam.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('SOCMHNO12A6D4F76B1', 'Vanish or Vanquish', 'ARUTMSS11F4C84382E', 0, Decimal('197.17')),
 ('SOLMNHM12AC3DF956C', 'Lokaðu augunum (Dyad 1909 version)', 'ARH0GSP1187FB550E4', 2009, Decimal('234.00')),
 ('SOVCECZ12A6D4FA35E', 'Trong Com', 'AR6AGJV1187FB504BA', 1993, Decimal('43.52')),
 ('SOZGUBR12A67ADD46E', 'La Niebla', 'AROJV0O1187B99553A', 1984, Decimal('322.40')),
 ('SOKEZZA12A8C1348E3', "One Flew Over The Cuckoo's Nest (Opening Theme)", 'AR3PHA71187FB52512', 1975, Decimal('88.58')),
 ('SOWLYFS12A8C14079A', 'Isabel', 'ARMK8SU1187FB39B17', 2006, Decimal('146.02')),
 ('SOYKGBK12AC4689872', 'Make Me Shine', 'ARJVUPI1241B9C7756', 0, Decimal('589.74')),
 ('SOSIBHK12A8C132C89', 'I Miangaly No Manina', 'ARB0YWU1187FB37A96', 0, Decimal('168.80')),
 ('SOUBBDV12A58A7C2B2', 'Gaia', 'ARIZ8KE1187FB3F2A2', 2000, Decimal('344.08')),
 ('SOJWHTL12AB018283A', 'Feel OK', 'AR5A5TB1187FB589A4', 2009, Decimal('128.84'))]

In [23]:
%sql SELECT COUNT(*) FROM songs;

 * postgresql://dwhuser:***@dwhcluster.ccvrxzlyzuam.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(385252,)]

In [24]:
%sql SELECT * FROM artists LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.ccvrxzlyzuam.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('ARBJSO81187B9BA09B', 'Soda Stereo', '', None, None),
 ('AROF4LP1187FB41C51', 'Selena', 'Texas', 31.1689, -100.07715),
 ('ARAADXM1187FB3ECDB', 'Styles Of Beyond feat. Four Zone', 'Woodland Hills, CA', 34.1688, -118.61092),
 ('ARRGOBL1187FB46D00', 'Richard Shindell', 'Buenos Aires (provincia)', -34.60852, -58.37354),
 ('AR5HM7D1187FB4D2B7', 'Ellen Allien', 'Berlin, Germany', 52.51607, 13.37698),
 ('ARO4GAN1187FB3897E', 'DJ Hell', 'Munich, Germany', None, None),
 ('ARD842G1187B997376', 'Blue Rodeo', 'Toronto, Ontario, Canada', 43.64856, -79.38533),
 ('ARQZCKY1187B9B5B84', 'Keith Jarrett_ Gary Peacock_ Jack DeJohnette', '', None, None),
 ('ARGXFIE1187FB45A81', 'Emmanuel Horvilleur', '', None, None),
 ('AR7VWZ11187B98DA42', 'Spice Girls', '', None, None)]

In [25]:
%sql SELECT COUNT(*) FROM artists;

 * postgresql://dwhuser:***@dwhcluster.ccvrxzlyzuam.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(385252,)]

In [26]:
%sql SELECT * FROM users LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.ccvrxzlyzuam.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(66, 'Kevin', 'Arellano', 'M', 'free'),
 (81, 'Sienna', 'Colon', 'F', 'free'),
 (48, 'Marina', 'Sutton', 'F', 'free'),
 (75, 'Joseph', 'Gutierrez', 'M', 'free'),
 (43, 'Jahiem', 'Miles', 'M', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free'),
 (14, 'Theodore', 'Harris', 'M', 'free'),
 (99, 'Ann', 'Banks', 'F', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (49, 'Chloe', 'Cuevas', 'F', 'paid')]

In [27]:
%sql SELECT COUNT(*) FROM users;

 * postgresql://dwhuser:***@dwhcluster.ccvrxzlyzuam.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(105,)]

In [28]:
%sql SELECT * FROM time LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.ccvrxzlyzuam.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(datetime.datetime(2018, 11, 6, 4, 56, 11), 4, 6, 45, 11, 2018, 'Monday'),
 (datetime.datetime(2018, 11, 6, 6, 5, 51), 6, 6, 45, 11, 2018, 'Monday'),
 (datetime.datetime(2018, 11, 6, 7, 36, 46), 7, 6, 45, 11, 2018, 'Monday'),
 (datetime.datetime(2018, 11, 6, 11, 53, 5), 11, 6, 45, 11, 2018, 'Monday'),
 (datetime.datetime(2018, 11, 6, 14, 37, 30), 14, 6, 45, 11, 2018, 'Monday'),
 (datetime.datetime(2018, 11, 6, 15, 14, 10), 15, 6, 45, 11, 2018, 'Monday'),
 (datetime.datetime(2018, 11, 6, 16, 1, 35), 16, 6, 45, 11, 2018, 'Monday'),
 (datetime.datetime(2018, 11, 6, 16, 14, 29), 16, 6, 45, 11, 2018, 'Monday'),
 (datetime.datetime(2018, 11, 6, 16, 27, 13), 16, 6, 45, 11, 2018, 'Monday'),
 (datetime.datetime(2018, 11, 6, 16, 41, 5), 16, 6, 45, 11, 2018, 'Monday')]

In [29]:
%sql SELECT COUNT(*) FROM time;

 * postgresql://dwhuser:***@dwhcluster.ccvrxzlyzuam.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]